{% extends "base.html" %}
{% load static %}

{% block extra_css %}{{ block.super }}<link rel="stylesheet" href="{% static 'core/home.css' %}">{% endblock %}

{% block title %}Nový web Lieder Society{% endblock %}


{% block content %}
    <h1>Interní (zatím) web <span>Lieder Society</span></h1>
    <p>Toto je hlavní stránka, časem tu možná bude ukázka nového webu Lieder Society. Nyní si vyber z MENU nahoře - buď web Lieder Society nebo Rozesílač newsletterů (ten je jen pro adminy).</p>
{% endblock %}