{% load static %}
<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lieder Society{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_css %}{% endblock %}
    <link rel="icon" href="{% static 'Lieder-favicon.png' %}" type="image/png">
</head>
<body>
    <header>
        <div class="nav-wrapper">
            <nav>
                <a href="https://lieder-society.cz/" target="_blank" class="nav-button nav-lieder">
                    Lieder Society <span>→</span>
                </a>

                <a href="/rozesilac/" class="nav-button nav-rozesilac">
                    Rozesílač <span>→</span>
                </a>
            </nav>

            {% if request.resolver_match.namespace == 'rozesilac' and request.user.is_authenticated %}
                <div class="nav-user-panel">
                    <span class="logged-user">
                        {{ request.user.username }}
                    </span>

                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">
                            Odhlásit
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>